.contacto{
    padding-left: 330px;
}
/*--------------------------------------------------------------------------------------*/
.contentContacto{  
	background:-webkit-linear-gradient(#F2F2F2, #8A8685);
	background:-moz-linear-gradient(#F2F2F2, #8A8685);
	background:linear-gradient(#F2F2F2, #8A8685)
	z-index:2;  
	width:30%;
	float:left;
	margin-left:30%; 
	padding-left:-100px;
	padding-right:100px;
}
/*--------------------------------------------------------------------------------------*/
.contacto label{
    display: block;
    font-weight: bold;
    color:black;
}
.contacto div{
    margin-top: 15px;
	margin-left: -270px;	
}
.contacto input[type='text'], .contacto textarea{
    padding: 7px 6px;
    width: 294px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #8FACB5;
    margin: 5px 0;
}
.contacto input[type='text']:focus, .contacto textarea:focus{
    outline: none;
    box-shadow:0 0 0 3px #dde9ec;
}
.contacto input[type='submit']{
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 50px;
    font-weight: bold;
    text-shadow: 1px 1px 0px #8FACB5;
 
    background: #e4f1f6;
    background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
}
.contacto input[type='submit']:hover{
    background: #edfcff;
    background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
}
.contacto input[type='submit']:active{
    background: #cfe6ef;
    background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
    background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}
